*,
*::before,
*::after{
	box-sizing: border-box;
}

/**********  Contact form validations**************************/
.contact-form{
	--form-ok-color:#52C776;
	--form-error-color:#E46565;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/*a todos los hijos directos*/
/*.contact-form > *   */
.contact-form > *{
	display: block;	
	width: 100%;
	margin: 0 auto;
	padding: .5rem;
}

.contact-form textarea{
	resize: none;
}

.contact-form legend,
.contact-form-response{
	font-size: 1.5rem;
	text-align: center;
}

.contact-form input,
.contact-form textarea{
	font-size: 1rem;
	font-family: sans-serif;
}

.contact-form input[type="submit"]{
	width: 50%;	
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
}

.contact-form *::placeholder{
	color: #2D8AB1;
}

.contact-form [required]:valid{
	border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid{
	border: thin solid var(--form-error-color);
}
/*para los errores que mostraremos cuando no cumplan con la validacion*/
.contact-form-error{
	font-size: 80%;
	background-color: var(--form-error-color);
	color: #fff;
	transition: all 800ms ease;
}

.contact-form-error.is-active{
	display: block;
	/*name duration iteration-count animation-direction delay efectORitmAnimation animationFillMode->conserva estilos*/
	animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
	display: none;
}

@keyframes show-message{
	0%{
		visibility: hidden;
		opacity: 0;
	}
	100%{
		visibility: visible;
	}
}


























