/***************     Reset CSS *********************/
:root {
	--main-font: sans-serif;
	--font-size: 16px;
	--main-color: #40BFE4;
	--second-color: #222;
	--main-modal-color: rgba(64,191,228,0.80);
	--second-modal-color: rgba(34,34,34,0.65);
	--container-width: 1200px;
}

html{
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: var(--font-size);
	scroll-behavior: smooth;
}

*,
*::after,
*::before{
	box-sizing: inherit;	
}

body{
	margin: 0;
	height: auto;
}

img{
	max-width: 100%;
	height: auto;
}


/******************** menu hamburguesa *****************************/
.header{
	position: sticky;
	top: 0;
	padding: 1rem;
	background-color: var(--main-color);
	color: var(--second-color);
}

.header h1{
	margin: 0 auto;
	text-align: center;
}

.section{
	padding: 2rem;
	padding-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: var(--container-width);
	height: 100vh;
	text-align: center;	
}
/*
.section:nth-child(even){
	background-color: red;
}
.section:nth-child(odd){
	background-color: blue;
}
*/

.panel-btn {
	position: fixed;
	z-index: 999;
	bottom: 1vh;
	right: 1vh;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
}

.panel{
	position: fixed;
	z-index: 998;
	background-color: var(--second-modal-color);
	width: 100%;
	/*para que se estire completamente*/
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: transform .3s ease-in-out, opacity .5s ease;
	/*si queremos que salva de arriba*/
	transform: translate(0,-100%);
	/*pointer-events: none;   si solo usaramos opacity oooo visivility: hidden*/
	opacity: 0;
	overflow-y: auto;
}

.panel.is-active{
	transform: translate(0,0);
	/*pointer-events: auto;   si solo usaramos opacity oooo visivility: visible*/
	opacity: 1;
}

.menu{
	/*que herede la altura de su contenedor padre*/
	width: inherit;
	display: flex;
	flex-direction: column;	
	text-align: center;
	align-items: center;	
}	

.menu a{
	padding: 2rem;
	width: inherit;
	display: block;
	font-size: 1.5rem;
	text-decoration: none;
	color: var(--main-color);
	transition: all 0.4s ease;
}

.menu a:hover{
	font-weight: bold;
	color: var(--second-color);
	background-color: var(--main-modal-color);
}






























































