/***************     Reset CSS *********************/
:root {
	--main-font: sans-serif;
	--font-size: 16px;
	--main-color: #40BFE4;
	--second-color: #222;
	--main-modal-color: rgba(64,191,228,0.80);
	--second-modal-color: rgba(34,34,34,0.65);
	--container-width: 1200px;
}

html{
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: var(--font-size);
	scroll-behavior: smooth;
}

*,
*::after,
*::before{
	box-sizing: inherit;	
}

body{
	margin: 0;
	height: auto;
}

img{
	max-width: 100%;
	height: auto;
}


/******************** reloj digital *****************************/
body{
	margin: 0 20px;
	max-width: 1200px;
}
.container{
	text-align: center;
}
